In [ ]:
#Apertura de archivo
import pandas as pd
df=pd.read_csv('/content/casasboston.csv')
data=pd.DataFrame(df)
print(data)
print(data.AGE)

           TOWN      LON      LAT  MEDV     CRIM    ZN  INDUS  CHAS    NOX  \
0        Nahant -70.9550  42.2550  24.0  0.00632  18.0   2.31     0  0.538
1    Swampscott -70.9500  42.2875  21.6  0.02731   0.0   7.07     0  0.469
2    Swampscott -70.9360  42.2830  34.7  0.02729   0.0   7.07     0  0.469
3    Marblehead -70.9280  42.2930  33.4  0.03237   0.0   2.18     0  0.458
4    Marblehead -70.9220  42.2980  36.2  0.06905   0.0   2.18     0  0.458
..          ...      ...      ...   ...      ...   ...    ...   ...    ...
501    Winthrop -70.9860  42.2312  22.4  0.06263   0.0  11.93     0  0.573
502    Winthrop -70.9910  42.2275  20.6  0.04527   0.0  11.93     0  0.573
503    Winthrop -70.9948  42.2260  23.9  0.06076   0.0  11.93     0  0.573
504    Winthrop -70.9875  42.2240  22.0  0.10959   0.0  11.93     0  0.573
505    Winthrop -70.9825  42.2210  19.0  0.04741   0.0  11.93     0  0.573

        RM   AGE     DIS  RAD  TAX  PTRATIO       B  LSTAT
0    6.575  65.2  4.0900    1  296     15.3  396.90   4.98
1    6.421  78.9  4.9671    2  242     17.8  396.90   9.14
2    7.185  61.1  4.9671    2  242     17.8  392.83   4.03
3    6.998  45.8  6.0622    3  222     18.7  394.63   2.94
4    7.147  54.2  6.0622    3  222     18.7  396.90   5.33
..     ...   ...     ...  ...  ...      ...     ...    ...
501  6.593  69.1  2.4786    1  273     21.0  391.99   9.67
502  6.120  76.7  2.2875    1  273     21.0  396.90   9.08
503  6.976  91.0  2.1675    1  273     21.0  396.90   5.64
504  6.794  89.3  2.3889    1  273     21.0  393.45   6.48
505  6.030  80.8  2.5050    1  273     21.0  396.90   7.88

[506 rows x 17 columns]
0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64

Solo edad 65.2

In [ ]:
dataresultado=data.loc[(data['AGE']==65.2)]
print(dataresultado)

       TOWN     LON      LAT  MEDV     CRIM    ZN  INDUS  CHAS    NOX     RM  \
0    Nahant -70.955  42.2550  24.0  0.00632  18.0   2.31     0  0.538  6.575
119  Malden -71.019  42.2605  19.3  0.14476   0.0  10.01     0  0.547  5.731

      AGE     DIS  RAD  TAX  PTRATIO      B  LSTAT
0    65.2  4.0900    1  296     15.3  396.9   4.98
119  65.2  2.7592    6  432     17.8  391.5  13.61

Solo town Wintrop

In [ ]:
dataresultado=data.loc[(data['TOWN']=="Winthrop")]
print(dataresultado)

         TOWN      LON      LAT  MEDV     CRIM   ZN  INDUS  CHAS    NOX  \
501  Winthrop -70.9860  42.2312  22.4  0.06263  0.0  11.93     0  0.573
502  Winthrop -70.9910  42.2275  20.6  0.04527  0.0  11.93     0  0.573
503  Winthrop -70.9948  42.2260  23.9  0.06076  0.0  11.93     0  0.573
504  Winthrop -70.9875  42.2240  22.0  0.10959  0.0  11.93     0  0.573
505  Winthrop -70.9825  42.2210  19.0  0.04741  0.0  11.93     0  0.573

        RM   AGE     DIS  RAD  TAX  PTRATIO       B  LSTAT
501  6.593  69.1  2.4786    1  273     21.0  391.99   9.67
502  6.120  76.7  2.2875    1  273     21.0  396.90   9.08
503  6.976  91.0  2.1675    1  273     21.0  396.90   5.64
504  6.794  89.3  2.3889    1  273     21.0  393.45   6.48
505  6.030  80.8  2.5050    1  273     21.0  396.90   7.88

Seleccionar un town/distinto

In [ ]:
dataresultado=data.loc[(data['TOWN']=="Marblehead")]
print(dataresultado)

         TOWN      LON     LAT  MEDV     CRIM   ZN  INDUS  CHAS    NOX     RM  \
3  Marblehead -70.9280  42.293  33.4  0.03237  0.0   2.18     0  0.458  6.998
4  Marblehead -70.9220  42.298  36.2  0.06905  0.0   2.18     0  0.458  7.147
5  Marblehead -70.9165  42.304  28.7  0.02985  0.0   2.18     0  0.458  6.430

    AGE     DIS  RAD  TAX  PTRATIO       B  LSTAT
3  45.8  6.0622    3  222     18.7  394.63   2.94
4  54.2  6.0622    3  222     18.7  396.90   5.33
5  58.7  6.0622    3  222     18.7  394.12   5.21

Town:Crim superior a 0.50

In [ ]:
dataresultado=data.loc[(data['TOWN']=="Marblehead") & (data['CRIM']>=0.50)]
print(dataresultado)

Empty DataFrame
Columns: [TOWN, LON, LAT, MEDV, CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT]
Index: []

Promedio de la edad

In [ ]:
import numpy as num
edadprom=num.mean(data.AGE)
print(edadprom)

68.57490118577076

Imprimir un indice y una edad

In [ ]:
import pandas as pd
data2=pd.DataFrame(df)
print(data2[["AGE","TAX"]])

      AGE  TAX
0    65.2  296
1    78.9  242
2    61.1  242
3    45.8  222
4    54.2  222
..    ...  ...
501  69.1  273
502  76.7  273
503  91.0  273
504  89.3  273
505  80.8  273

[506 rows x 2 columns]

Ordenamiento por CRIM //sort

In [ ]:
sorted_df = df.sort_values(by=['CRIM'], ascending=True)
print(sorted_df)

                    TOWN      LON      LAT  MEDV      CRIM    ZN  INDUS  CHAS  \
0                 Nahant -70.9550  42.2550  24.0   0.00632  18.0   2.31     0
284             Medfield -71.1800  42.1105  32.2   0.00906  90.0   2.97     0
285               Millis -71.2135  42.1000  22.0   0.01096  55.0   2.25     0
341             Cohasset -70.8875  42.1465  32.7   0.01301  35.0   1.52     0
55             Topsfield -70.9625  42.3810  35.4   0.01311  90.0   1.22     0
..                   ...      ...      ...   ...       ...   ...    ...   ...
414       Boston Roxbury -71.0420  42.1985   7.0  45.74610   0.0  18.10     0
410      Boston Downtown -71.0462  42.2075  15.0  51.13580   0.0  18.10     0
405  Boston South Boston -71.0320  42.2057   5.0  67.92080   0.0  18.10     0
418       Boston Roxbury -71.0525  42.1989   8.8  73.53410   0.0  18.10     0
380   Boston Charlestown -71.0460  42.2300  10.4  88.97620   0.0  18.10     0

       NOX     RM    AGE     DIS  RAD  TAX  PTRATIO       B  LSTAT
0    0.538  6.575   65.2  4.0900    1  296     15.3  396.90   4.98
284  0.400  7.088   20.8  7.3073    1  285     15.3  394.72   7.85
285  0.389  6.453   31.9  7.3073    1  300     15.3  394.72   8.23
341  0.442  7.241   49.3  7.0379    1  284     15.5  394.74   5.49
55   0.403  7.249   21.9  8.6966    5  226     17.9  395.93   4.81
..     ...    ...    ...     ...  ...  ...      ...     ...    ...
414  0.693  4.519  100.0  1.6582   24  666     20.2   88.27  36.98
410  0.597  5.757  100.0  1.4130   24  666     20.2    2.60  10.11
405  0.693  5.683  100.0  1.4254   24  666     20.2  384.97  22.98
418  0.679  5.957  100.0  1.8026   24  666     20.2   16.45  20.62
380  0.671  6.968   91.9  1.4165   24  666     20.2  396.90  17.21

[506 rows x 17 columns]