<a href="https://colab.research.google.com/github/EstebanS3/Laboratorios_Python/blob/Laboratorios/Tarea_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Año bisiesto

In [ ]:
print("Ejercicio Bisiesto")
anio=int(input("Ingrese el año: "))
if(anio % 400 == 0) or (anio % 4 == 0) and(anio % 100 !=0):
  print("El año es Bisiesto")
else:
  print("El año no es Bisiesto")

Ejercicio Bisiesto
Ingrese el año: 2021
El año no es Bisiesto

¿Switch?

In [ ]:
switcher={1:"Enero",2:"Febrero",3:"Marzo",4:"Abril",5:"Mayo",6:"Junio",7:"Julio",8:"Agosto",9:"Setiembre",10:"Octubre",11:"Noviembre",12:"Diciembre"}
argument=int(input("Ingrese un número: "))
nombreDeMes=switcher.get(argument,"Mes invalido")
print(nombreDeMes)

Ingrese un número: 13
Mes invalido

Ciclos

Problema#1

In [ ]:
#Creacion de variables
C=-1
I=0
M=0
while(C<0) or (I<=0) or (I>=100) or (M<=0):
  print("Introduce el capital, el interes, y el tiempo apropiados")
  C=int(input("Capital: "))
  I=int(input("Interes: "))
  M=int(input("Tiempo en años: "))

for i in range(M):
  C=C*(1+I/100)
  print("Monto ",C," Colones")

Introduce el capital, el interes, y el tiempo apropiados
Capital: 1000
Interes: 10
Tiempo en años: 20
Monto  1100.0  Colones
Monto  1210.0  Colones
Monto  1331.0  Colones
Monto  1464.1000000000001  Colones
Monto  1610.5100000000002  Colones
Monto  1771.5610000000004  Colones
Monto  1948.7171000000005  Colones
Monto  2143.5888100000006  Colones
Monto  2357.9476910000008  Colones
Monto  2593.742460100001  Colones
Monto  2853.1167061100014  Colones
Monto  3138.4283767210018  Colones
Monto  3452.271214393102  Colones
Monto  3797.4983358324125  Colones
Monto  4177.248169415654  Colones
Monto  4594.97298635722  Colones
Monto  5054.470284992943  Colones
Monto  5559.917313492238  Colones
Monto  6115.909044841462  Colones
Monto  6727.499949325608  Colones

Divisores

In [ ]:
print("Digite un numero")
numero=int(input("Numero: "))

while numero>0:
  Suma=0
  for i in range(1,numero+1):
    if(numero % i ==0):
      Suma=Suma+i
  print(Suma)
  numero=int(input("Numero: "))

#1+2+5+10=18

Digite un numero
Numero: 10
18
Numero: 5
6
Numero: 100
217
Numero: 0